services:
  app:
    ## indica que o docker-file está nesse diretório para buildar
    build: .
    ## localização do shell que rodará esses comandos assim que criar o container
    entrypoint: .docker/entrypoint.sh
    container_name: heroQuest-app
    ## mapeia a porta 3333 do container para a porta 3333 da minha máquina
    ports:
      - "3333:3333"
    volumes:
    ## sincroniza o diretório atual '.' com o do container '/home/node/app'
      - .:/home/node/app
    ## informa que o app só deverá ser informado após esses serviços
    depends_on:
      - db
      - redis
  db:
    image: postgres:14
    container_name: heroQuest-db
    ## se o container falhar ou se o Docker for reiniciado, este container será automaticamente reiniciado
    restart: always
    ports:
      - "5432:5432"
    volumes:
    ## ele mapeia o diretório atual para esse diretório no container
      - .docker/dbdata:/var/lib/postfresql/data
    environment:
      POSTGRES_PASSWORD: docker
      POSTGRES_DB: heroQuest
  redis:
    image: bitnami/redis:latest
    container_name: heroQuest-redis
    environment:
      ALLOW_EMPTY_PASSWORD: 'yes'
  
  pgadmin:
    image: dpage/pgadmin4
    container_name: heroQuest-pgadmin
    restart: always
    ports:
      - "8000:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    depends_on:
      - db
